<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
   id="CBCJava"
>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="CBC ActionSet"
            visible="true"
            id="CBC.actionSet">
         <menu
               label="CBC&amp;JVM"
               id="cbcMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="cbc.actions.CBCFDAction"
               icon="icons/fd16.png"
               id="cbc.actions.CBCFDAction"
               label="&amp;Save"
               menubarPath="cbcMenu/cbcGroup"
               toolbarPath="cbcGroup"
               tooltip="Saves current project to filesystem">
         </action>
         <action
               label="&amp;Download via LAN"
               icon="icons/16.png"
               class="cbc.actions.CBCAction"
               tooltip="Downloads current project to the CBC via Network"
               menubarPath="cbcMenu/cbcGroup"
               toolbarPath="cbcGroup"
               id="cbc.actions.CBCAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="CBC"
            name="CBCJVM">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="cbc.views.CBCView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
